* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --branco: #F3F2F2;
    --preto: #080708;
    --Roxo_Aura: #8800FF;
    --Rosil: #DC5DFF;
    --cinza: #E8E8E8;
}

.espacamento {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

@font-face {
    font-family: "lato_bold_italic";
    src: url(fonts/Lato/Lato-BoldItalic.ttf);
}

@font-face {
    font-family: "lato-regular";
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "lato_bold";
    src: url(fonts/Lato/Lato-Bold.ttf);
}

/* ------------ GERAL ------------*/

.titulo {
    font-family: "lato_bold";
    display: flex;
    justify-content: center;
    font-size: 45px;
}



/* ------------ MENU ------------*/

header {
    height: 267px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 355px;
}

#fundo_Roxo {
    background-color: var(--Roxo_Aura);
}

.menu {
    max-width: 700px;
    width: 70%;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: var(--branco);
    font-size: 40px;
    text-decoration: none;
    font-family: "lato_bold_italic"
}


.menu a:hover {
    color: var(--Rosil);
    text-decoration: underline;
}

/* ------------ BANNER ------------ */

#banner {
    height: 1000px;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#banner-texto {
    color: var(--branco);
    font-size: 70px;
    text-decoration: none;
    font-family: "lato_bold_italic";

    text-align: center;
    padding-top: 100px;
}

#banner-texto p {
    padding-left: 160px;
}

#texto-2 {
    padding-left: 150px;
}


/* ------------  SOBRE ------------ */

#sobre {
    margin-top: 180px;
    padding-bottom: 250px;
}

#sobre img {
    border-radius: 0px 40px 40px 0px;
    /* position: relative; */
}

#sobre #quadrado-preto {
    height: 440px;
    width: 874px;
    background-color: var(--preto);
    margin-left: 1365.8px;
    border-radius: 40px 0px 0px 40px;

    border-left: 8px solid var(--Roxo_Aura);

    /* position: absolute;
    z-index: 2; */
}

#sobre h1 {
    color: var(--branco);
    font-size: 38px;
    text-decoration: none;
    font-family: "lato_bold_italic";

    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 70px;
}



#sobre #quadrado-preto p {
    color: var(--branco);
    font-size: 30px;
    text-decoration: none;
    font-family: "lato-regular";
    padding-left: 60px;
}


/* ------------  CARROSSEL ------------ */


#carrossel {
    display: flex;
    justify-content: center;
    padding-bottom: 290px;
}

#carrossel img {
    border-radius: 30px;
}


/* ------------  CARROSSEL ------------ */

#loja h1 {
    padding-bottom: 100px;
}


/* ------------ LOJA ------------ */

#loja {
    padding-bottom: 350px;
}

#cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card img {
    height: 350px;
    border-radius: 30px;
}

.card h2 {
    color: var(--preto);
    font-size: 40px;
    text-decoration: none;
    font-family: "lato_bold_italic";
}

/* ------------  FORMULARIO ------------ */


#contato h1 {
    padding-bottom: 105px;
}

#contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.campo {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 920px;
    gap: 10px;

}

.campo input {
    color: var(--preto);

    border-top: 3px solid var(--cinza);
    border-right: 5px solid var(--cinza);
    border-bottom: 10px solid var(--cinza);
    border-left: 6px solid var(--cinza);

    border-radius: 10px;

    height: 85px;
    font-size: 40px;
    font-family: "lato_bold_italic";
    padding-left: 10px

}

.campo textarea {
    color: var(--preto);

    border-top: 3px solid var(--cinza);
    border-right: 5px solid var(--cinza);
    border-bottom: 10px solid var(--cinza);
    border-left: 6px solid var(--cinza);

    border-radius: 10px;

    height: 185px;
    font-size: 40px;
    font-family: "lato_bold_italic";
    padding-left: 10px
}

.campo label {
    color: var(--preto);
    font-size: 40px;
    text-decoration: none;
    font-family: "lato_bold_italic"
}

#contato form button {
    background-color: var(--Roxo_Aura);
    height: 75px;
    width: 412px;
    border: none;
    border-radius:  15px;
    color: var(--branco);
    font-size: 40px;
}

/* ------------  FOOTER ------------ */

footer {
    height: 200px;
    background-color: var(--preto);
}

/* ------------  MENU HANBURGER ------------ */

#icone_barras,
#icone_x,
#menu_botao {
    display: none;
}


/* ------------  RESPONSIVIDADE ------------ */


@media screen and (max-width: 1130px) {

    .menu a {
        font-size: 35px;
    }

    header img {
        height: 100px;
    }

    #banner-texto {
        font-size: 35px;
    }

}



@media screen and (max-width: 768px) {

    #sombras {
        background-color: var(--Rosil);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;
        /* background-color: none; */
        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--branco);
    }

    #icone_barras {
        display: block;
    }

    nav.menu {

        width: 200px;
        padding: 0px 30px;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--branco);
    }


    .menu a:hover {
        color: var(--Roxo_Aura);
        text-decoration: underline;
    }


    #banner-texto {
        font-size: 25px;
        padding-top: 50px;
    }
}