* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --branco: #F3F2F2;
    --preto: #080708;
    --Roxo_Aura: #8800FF;
    --Rosil: #DC5DFF;
}

.espacamento {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

@font-face {
    font-family: "lato_bold_italic";
    src: url(fonts/Lato/Lato-BoldItalic.ttf);
}

/* ------------ MENU ------------*/

header {
    height: 267px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header img {
    width: 355px;
}

.menu {
    max-width: 700px;
    width: 70%;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: var(--branco);
    font-size: 40px;
    text-decoration: none;
    font-family: "lato_bold_italic"
}

#fundo_Roxo {
    background-color: var(--Roxo_Aura);
}

.menu a:hover {
    color: var(--Rosil);
    text-decoration: underline;
}


/* ------------  MENU HANBURGER ------------*/

#icone_barras,
#icone_x,
#menu_botao {
    display: none;
}


/* ------------  RESPONSIVIDADE ------------*/

@media screen and (max-width: 768px) {

    #sombra {
        background-color: var(--Rosil);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;
        background-color: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--Rosil);
    }

    #icone_barras {
        display: block;
    }

    nav.menu {
        
        width: 200px;
        padding: 0px 30px;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }
}